
* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body {
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
}
ul {
    list-style:none;
}
a {
    text-decoration: none;
}


* {
    font-family:montserrat;
}
h1, select, .title, .bg, .slider-title, .spoiler-main-title, .author-name, .contact-title, .block-title, .spoiler-header, .contact-phone-title, .contact-email-title, .contact-adress-title, .warn-title, .disc-title, .quote-text, .form-submit, .button, button, .slide-counter {
    font-family:"museo";
    color:#333333;
}
.warn-text, .disc-text {
    font-family:montserrat;
}
.header {
    display:flex;
    justify-content: space-between;
    align-items:center;
    height: 80px;
    max-width:1440px;
}
.logo {
    cursor:pointer;
    width:45px;
    height:16px;
    font-size: 15px;
    font-weight: 700;
    line-height: 16px;
    padding:0 0 0 120px;
}
.menu {
    display:flex;
    width: 582px;
    height: 16px;
}
.burger-icon{
    display:none;
}
.side-menu {
    display:none;
}
.menu a {
    padding:0 15px;
    color: #333333;
    font-size:15px;
    font-weight:500;
    line-height:15px;
    font-family: "museo";
}
.right-section  {
display: flex;
align-items:center;
padding:60px;
gap:24px;
}
.language {
width: 80px;
height:40px;
padding: 10px 16px 10px 16px;
gap: 10px;
border-radius: 60px;
border: 1px solid black;
cursor: pointer;
font-weight:500px;
font-size:15px;
}
.login-button {
width: 167px;
height: 40px;
padding: 13px 24px 13px 24px;
gap: 10px;
border-radius: 60px;
background-color: #6248FF;
color: #fff;
border:none;
padding: 0;
cursor:pointer;
font-weight:600;
}
.burger-icon {
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 30px;
}
.side-menu {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    background-color: #9e74bc;
    padding-top: 60px;
    transition: right 0.3s ease;
}

/* Стили для списка меню */
.side-menu ul {
    list-style-type: none;
    padding: 0;
}

.side-menu ul li {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #5a0bb3;
    font-size: 18px;
    cursor:pointer;
}

.side-menu.open {
    right: 0; 
}
.main-first-section {
    display:flex;
    height: 720px;
    justify-content: space-between;
    background: rgb(98, 72, 255, 0.1);
}
.text-block {
    width: 585px;
    height: 398px;
    margin-top:140px;
    margin-left:120px;
}
h1 {
    width: 585px;
    height:144px;
    font-size:64px;
    font-weight:500;
    line-height:72px;
}
.descr {
    width: 483px;
    height: 120px;
    font-size:18px;
    font-weight:400;
    line-height:30px;
    color: #4F4F4F;
    margin-top:32px;
    text-align:left;
}
.button {
width: 257px;
height: 54px;
border:none;
cursor:pointer;
border-radius: 60px;
background-color:#6248FF;
color:#fff;
font-size:16px;
font-weight:800;
line-height:14px;
text-align:center;
margin-top:48px;
}
button {
background-color:#4F62F6;
}
button:hover {
    background-color:#7181FC;
}
button:active {
    background-color:#354BF4;
}
button:disabled {
    background-color:#E0E0E0;
}
.image {
    padding:100px 602px 0px 0px;
    width: 482px;
    height: 519px;
}
.main-second-section {
    margin-left:120px;
    margin-top:140px;
    width:1098px;
    height:950px;
    position:relative;
}
.title {
    width:483px;
    height:140px;
    font-size:56px;
    line-height:66px;
    font-weight:500;
}
.bg {
    width:296px;
    height:72px;
    background-color:rgb(98, 72, 255, 0.1);
}
.block{
    width:483px;
    height:203px;
    border:2px solid #6248FF;
    border-radius:30px;
    padding-top:32px;
    padding-left:32px;
}
.block1 {
    margin-top:60px;
    float:left;
}
.block2 {
    float:right;
    height:233px;
    margin-top:216px;
}
.block3 {
    float:left;
    height:233px;
    margin-top:134px
}
.block4 {
    float:right;
    height:233px;
    margin-top:128px;
}
.block-number {
    width:22px;
    height:18px;
    font-size:15px;
    font-weight:500;
    line-height:18px;
    color:#6248FF;
}
.block-title {
    height:29px;
    font-size:24px;
    font-weight:500;
    line-height:28.8px;
    padding-top:8px;
}
.block-text {
    width:419px;
    height:60px;
    font-size:18px;
    font-weight:400;
    line-height:30px;
    color:#4F4F4F;
    padding-top:24px;
}
.vector1, .vector2, .vector3 {
    position:absolute;
}
.vector1 {
    top:284px;
}
.vector2 {
    top:465px;
    left:237px;
}
.vector3 {
    top:645px;
}
.main-third-section {
    width:1200px;
    height:282px;
    margin-left:120px;
    margin-top:140px;
}
.slider-title {
    width:483px;
    height:132px;
    font-weight:600;
    font-size:56px;
    line-height:66px;
}
.slider-nav {
    margin-top:39px;
    display:flex;
    gap:16px;
}
.slider-button {
    width:48px;
    height:48px;
    border:1px solid #E0E0E0;
    border-radius:50%;
    background:none;
    cursor:pointer;
    margin-right:15px;
}
.slider-button:hover {
    border:1px solid #6248FF;
    background:#fff;
}
.left-side {
    float:left;
}
.author-info {
    float:left;
    position:relative;
}
.author-photo {
    float:left;
    width:73px;
    height:73px;
}
.author-name {
    width:482px;
    height:30px;
    font-size:18px;
    font-weight:500;
    line-height:30px;
    margin-left:100px;
    margin-top:10px;
}
.author-position {
    margin-left:100px;
    width:380px;
    height:27px;
    font-size:16px;
    line-height:27px;
    font-weight:400;
    color:#4F4F4F;
}
.quote-text {
    width:585px;
    height:116px;
    font-size:24px;
    font-weight:500;
    line-height:28.8px;
    margin-top:100px;
}
.sign {
    position:absolute;
    top:100px;
    left:-50px;
 }
.quote-block {
    width:585px;
    float:right;
    position: relative;
}
.slide-counter {
    width:72px;
    height:18px;
    font-size:15px;
    font-weight:500;
    line-height:18px;
    color: #6248FF;
    margin-top:30px;
}
.main-fourth-section {
    width:1097px;
    height:1097px;
    margin-top:140px;
    margin-left:120px;
}
.spoiler-main-title {
    width:483px;
    height:132px;
    font-size:56px;
    line-height:66px;
    font-weight:500;
}
.spoiler-container {
    width: 995px;
    margin-top:16px;
    border: 2px solid #6248FF;
    border-radius: 20px;
    overflow: hidden;
    transition: height 0.5s ease;
    height: 96px;
    cursor: pointer;
}
.spoiler-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-top:30px;
    padding-right:20px;
    font-size: 24px;
    line-height:28.8px;
    font-weight:500;
}
.toggle-icon {
    font-size: 20px;
    width:32px;
    height:32px;
}
.spoiler-content {
    padding-left: 30px;
    padding-top:20px;
    font-size: 16px;
    font-weight:400;
    line-height:27px;
    color: #4F4F4F;
    display: none;
}
.spoiler-container.open .spoiler-content {
    display: block;
}
.spoiler-container.open {
    height: 225px;
}
.spoiler-box {
    width:995px;
    height:897px;
    margin-left:102px;
    margin-top:60px;
}
.main-fifth-section {
    width:1440px;
    height:739px;
    background-color:rgb(98, 72, 255, 0.08);
}
.contact-block{
    width:483px;
    height:499px;
    margin-left:120px;
    margin-top:120px;
    float:left;
}
.contact-title {
    width:302px;
    height:66px;
    font-size:56px;
    line-height:66px;
    font-weight:500;
}
.contact-info {
    margin-top:32px;
    width:483px;
    font-size:18px;
    line-height:30px;
    font-weight:400;
    color:#4F4F4F;
}
.contact-rights {
    margin-top:48px;
    width:483px;
    height:27px;
    font-size:16px;
    line-height:27px;
    font-weight:400;
    color:#4F4F4F;
}
.contact-phone-title {
    margin-top:24px;
    width:483px;
    height:16px;
    font-size:15px;
    line-height:16px;
    font-weight:600;
}
.contact-phone{
    margin-top:8px;
    width:483px;
    height:27px;
    font-size:16px;
    line-height:27px;
    font-weight:400;
    color:#4F4F4F;
}
.contact-email-title {
    margin-top:16px;
    width:483px;
    height:16px;
    font-size:15px;
    line-height:16px;
    font-weight:600;
}
.contact-email {
    margin-top:8px;
    width:483px;
    height:27px;
    font-size:16px;
    line-height:27px;
    font-weight:400;
    color:#4F4F4F;
}
.contact-adress-title {
    margin-top:16px;
    width:483px;
    height:16px;
    font-size:15px;
    line-height: 16px;
    font-weight:600;
}
.contact-adress {
    margin-top:8px;
    width:483px;
    height:54px;
    font-size:16px;
    line-height:27px;
    font-weight:400;
    color:#4F4F4F;
}
.form-block {
    width:585px;
    height:471px;
    border-radius:20px;
    border:2px solid #6248FF;
    float:right;
    margin-right:120px;
    margin-top:134px;
    background:#fff;
}
form {
    margin-left:80px;
    margin-top:80px;
}
label {
    font-size: 14px;
    color: #333;
}
input, textarea {
    width: 425px;
    padding:10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 2px solid #E0E0E0;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 14px;
    color:#828282;
}
textarea {
    height:89px;
}
.valid {
    border-color: #0EAC00;
}
.invalid {
    border-color: #EB5757;
}
.error-message {
    font-size: 12px;
    color:#EB5757;
    margin-top: -10px;
    margin-bottom: 10px;
    display: none;
}
.form-submit {
    margin-left:126.5px;
    margin-top:30px;
    width: 172px;
    height: 54px;
    font-weight:600px;
    background-color: #6248FF;
    color: #fff;
    border: none;
    border-radius: 60px;
    font-size: 16px;
    cursor: pointer;
}

footer {
    width:1440px;
    height:455px;
}
.footer-wrap {
    width:1200px;
    height:391px;
    margin-left:120px;
    margin-top:32px;
    display:flex;
}
.footer_logo {
    font-weight:700;
    line-height:17px;
    font-size:15px;
    cursor:pointer;
}
.risk-warn {
    margin-left:130px;
}
.warn-title {
    width:380px;
    height:30px;
    font-size:18px;
    line-height:30px;
    font-weight:600;
}
.warn-text {
    margin-top:20px;
    width:380px;
    height:243px;
    font-size:16px;
    line-height:27px;
    font-weight:400;
    color:#4F4F4F;
}
.disclamer {
    width:380px;
    height:316px;
    margin-left:50px;
}
.disc-title {
    height:30px;
    font-size:18px;
    line-height:30px;
    font-weight:600;
}
.disc-text {
    height:270px;
    margin-top:20px;
    font-size:16px;
    line-height:27px;
    font-weight:400;
    color:#4F4F4F;
}
.footer-menu li a {
    display:flex;
    color:#333333;
    height:16px;
    margin-top:17px;
    font-weight:600;
}
.footer-menu {
    margin-left:85px;
}
.requier {
    display:inline-block;
    width:auto;
    text-align: center;
    margin-left:120px;
}
.requier li {
    display:inline-block;
    color:#828282;
    cursor:pointer;
}
.terms, .privacy, .risks-and-warns, .launder {
    margin-left:95px;
}
@media(max-width:768px) {
    .logo{
        display:none;
    }
   .login-button {
    margin-left:450px;
   }
    .burger-icon {
        display:block;
    }
    .side-menu {
        display:block;
    }
    .menu {
        display:none;
    }
    .main-first-section {
        display:block;
        width:768px;
        height:944px;
    }
    .text-block {
        margin:0;
    }
    h1 {
        width:688px;
        height:144px;
        text-align:center;
        padding-top:40px;
        margin-left:40px;
    }
    .descr {
        width:508px;
        height:120px;
        text-align:center;
        margin-left:130px;
        padding-top:42px;
    }
    .button {
        margin-left:256px;
        margin-top:88px;
    }
    .image {
        padding:32px 0px 0px 175px;
    }
    .main-second-section {
        width:688px;
        height:1029px;
        padding:0;
        margin:120px 0px 0px 40px;
    }
    .prop {
        display:block;
        width:418px;
        height:450px;
        margin-top:50px;
    }
    .block {
        width:329px;
        height:233px;
    }
    .block1 {
        margin-top:48px;
    }
    .block3 {
        margin-top:125px;
    }
    .block2 {
        margin-top:217px;
        height:263px
    }
    .block4 {
        height:293px;
        margin-top:100px;
    }
    .vector1 {
        width:210px;
        height:58.5px;
        top:300px;
    }
    .vector2 {
       width:210px;
       height:70px;
       top:475px;
       left:150px;
    }
    .vector3 {
        top:650px;
        height:70px;
        width:200px;
    }
    .block-text {
        width:265px;
        height:90px;
    }
    html {
        max-width:768px;
    }
    .left-side {
        float:none;
    }
    .slider-nav {
        position: relative;
    }
    .quote-block {
        float:none;
    }
    .b1 {
        position: absolute;
        top:150px;
        left:0;
    }
    .b2 {
        position: absolute;
        right:0;
        top:150px;
    }
    header {
        width:768px;
    }
  
    .language {
        display:none;
    }
    .main-third-section {
        width:688px;
        height:553px;
        padding:0;
        margin-left:40px;
    }
    .author-info {
        float:none;
        width:149px;
        height:140px;
        text-align: center;
        margin-left:180px;
    }
    .author-photo {
        float:none;
        margin:0;
    }
    .author-name {
        float:none;
        margin:0;
        width:auto;
        height:30px;
        text-align: center;
    }
    .author-position {
        float:none;
        margin:0;
        width:auto;
        height:27px;
    }

    .quote-block {
        width:508px;
        height:365px;
        text-align:center;
        margin-left:90px;
    }
    .quote-text {
        width:508px;
        height:116px;
        text-align:center;
        margin-top:20px;
    }
    .slide-counter {
        text-align:center;
        width:auto;
    }
    .sign{
        position:relative;
        left:0;
        top:0;
        margin-top:10px;
    }
    .main-fourth-section {
        width:688px;
        height:1139px;
        margin:120px 0px 0px 0px;
        padding-left:40px;
    }
    .spoiler-box {
        max-width:678px;
        margin:48px 0 0 0;
    }
    .spoiler-container {
        width:688px;
    }
    .main-fifth-section {
        width:768px;
        height:1098px;
        margin:0;
    }
    .contact-block {
        text-align:center;
        margin-top:48px;
    }
    .contact-title {
        width:auto;
    }
    .contact-phone-title, .contact-phone, .contact-email-title, .contact-email, .contact-adress-title, .contact-adress{
        text-align:left;
    }
    .form-block {
        width:508px;
        height:471px;
        margin-top:48px;
    }
    form {
        margin:80px 0px 0px 42px;
    }
    footer {
        width:768px;
        height:977px;
    }
    .footer-wrap {
        display:block;
        position:relative;
        margin:0;
        width:768px;
        height:677px;
        text-align:center;
    }
    .footer_logo {
        margin-top:63px;
    }
    .risk-warn {
        margin:108px 0px 0px 0px;
        width:508px;
        height:208px;
        margin-left:130px;
    }
    .requier {
        margin:0px 0px 0px 260px;
        padding:0;
    }
    .requier li {
        display:block;
        margin-top:25px;
        width:auto;
        font-size:16px;
        line-height: 27px;
    }
    .terms, .privacy, .risks-and-warns, .launder {
        margin:0
    }

    .warn-title {
        width:auto;
    }
    .warn-text {
        width:508px;
        height:162px;
        text-align:left;
    }
    .disclamer {
        margin:42px 0px 0px 130px;
        width:508px;
        height:262px;
    }
    .footer-menu {
        display:block;
        position:absolute;
        top:50px;
    }
    .footer-menu li {
        margin:0px 35px 0 0;
        display:inline-block;
    }
   .disc-text {
    text-align:left;
   }

}
@media(max-width:320px){
    .main-first-section {
        width:320px;
    }
    .logo{
        display:block;
        margin-left:20px;
        padding:0;
    }
    .header {
        position:relative;
    }
    .header {
        width:320px;
    }
    .burger-icon {
        right:30px;
    }
    .login-button {
        display:none;
    }
    .main-first-section {
        height:833px;
    }
    .text-block {
        width:280px;
        height:132px;
    }
    h1 {
        text-align:left;
        margin-left:20px;
        width:280px;
        height:132px;
        font-size:40px;
        line-height:44px;
    }
    .descr {
        width:279px;
        height:210px;
        margin-left:21px;
        text-align:left;
    }

    .button {
        width:280px;
        height:54px;
        margin-left:20px;
        margin-top:70px;
    }
    .image {
        padding:0;
        margin:390px 0px 0px 20px;
        width:280px;
        height:301px;
    }
    .prop {
        display:block;
        width:280px;
        height:301px;
    }
    .main-second-section {
        width:280px;
        height:1322px;
        margin-left:20px;
        margin-top:80px;
    }
    .title {
        width:280px;
        height:140px;
        font-size:40px;
        line-height:44px;
    }
    .vector1, .vector2, .vector3 {
        display:none;
    }
    .block {
        width:280px;
        height:217px;
    }
    .block1 {
        margin-top:0px;
        height:217px;
        float:none;
    }
    .block2 {
        margin-top:24px;
        height:277px;
        float:none;
    }
    .block3 {
        float:none;
        margin-top:24px;
        height:277px;
    }
    .block4 {
        float:none;
        height:307px;
        margin-top:24px;
    }
    .block-text {
        width:232px;
        height:150px;
    }
    .main-third-section {
        width:281px;
        height:645px;
        margin-left:20px;
        margin-top:80px;
    }
    .slide-contaiter {
        position:relative;
    }
    .slider-title {
        width:280px;
        height:96px;
        font-size:40px;
        line-height:44px;
    }
    .quote-block {
        width:280px;
        height:88px;
        margin:0;
    }
    .author-info {
        margin:0;
    }
    .quote-text {
        width:280px;
        height:232px;
        font-size:24px;
        line-height:28.8px;
        text-align:center;
    }
    .b1, .b2 {
        top:445px;
    }
    .b2 {
        right:-15px;
        padding:0;
    }
    .author-info {
        margin-left:65px;
    }
    .main-fourth-section {
        width:280px;
        height:1287px;
        margin-left:20px;
        padding:0;
    }
    .spoiler-main-title {
        width:280px;
        height:132px;
        font-size:40px;
        line-height:44px;
    }
    .spoiler-container {
        width:280px;
        height:92px;
        position:relative;
    }
    .spoiler-header {
        width:189px;
        height:44px;
        font-size:18px;
        line-height:21.6px;
        padding:45px 0px 0px 20px;
    }
    .toggle-icon {
        position:absolute;
        right:0px;
    }
    .spoiler-container.open {
        width:280px;
        height:467px;
    }
    .spoiler-content {
        padding:50px 0px 0px 16px;
    }
    .main-fifth-section {
        width:320px;
        height:1138px;
    }
    .contact-block {
        text-align:left;
        margin:0px 0px 0px 20px;
        float:none;
    }
    .contact-title {
        width:280px;
        height:44px;
        font-size:40px;
        line-height:44px;
        margin-top:48px;
    }
    .contact-info {
        width:280px;
        height:150px;
        font-size:18px;
        line-height:30px;
    }
    .contact-rights {
        width:280px;
        height:54px;
        font-size:16px;
        line-height:27px;
    }
    .contact-adress {
        width:280px;
        height:108px;
        font-size:16px;
        line-height:27px;
    }
    .form-block {
        width:280px;
        height:415px;
        margin:150px 0px 0px 20px;
        float:none;
    }
    form {
        margin:48px 0px 0px 16px;
    }
    .form-submit {
        margin-left:34px;
    }
    .contact-block {
        width:300px;
    }
    .spoiler-box {
        width:280px;
    }
   #name, #email {
    width:248px;
    height:40px;
   }
   #message {
    width:248px;
    height:89px;
   }
   .footer-wrap {
    width:320px;
    height:1207px;
   }
   .footer-menu li {
    display:block;
   }
   .risk-warn {
   margin-top:280px;
   width:280px;
   height:400px;
   margin-left:0;
   }
   .warn-title {
    margin-left:20px;
    width:280px;
    height:60px;
    font-size:18px;
    line-height:30px;
    text-align:left;
   }
   .warn-text {
    margin-left:20px;
    width:280px;
    height:324px;
    font-size:16px;
    line-height: 27px;
   }
   .disclamer {
    margin:50px 0px 0px 20px;
    width:320px;
   }
   .disc-title {
    width:280px;
    height:30px;
    font-size:18px;
    line-height:30px;
    text-align:left;
   }
   .disc-text {
    width:280px;
    height:378px;
    font-size:16px;
    line-height:27px;
   }
   .disclamer{
    width:280px;
   }
   .footer-menu {
    margin:0px 0px 0px 20px;
    font-weight:600;
   }
   .requier {
    margin:0px 0px 0px 40px;
   }
   footer {
    width:320px;
    height:1507px;
   }
   main {
    width:320px;
   }
   .contact-phone-title, .contact-phone, .contact-email-title, .contact-email, .contact-adress-title {
    width:280px;
   }
}